.about{
    display: flex;
    flex-direction: column;
    &-title{
        margin-bottom: 5rem;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            
        }
    }
}