.about{
    display: flex;
    flex-direction: column;
    &-title{
        margin-bottom: 5rem;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            left: 0;
            bottom: -20%;
            height: .5rem;
            width: 10%;
            background-color: var(--pink-color);
        }
        &::after{
            position: absolute;
            content: "";
            left: 0;
            bottom: -40%;
            height: .5rem;
            width: 15%;
            background-color: var(--pink-color);
        }
    }
    &-span{
        margin-top: 3rem;
        marg
    }
}