.contact{
    &-title{
        margin-bottom: 5rem;
    }
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-question{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}