.home{
    display: flex;
    @media screen and (max-width: 767.98px) {
        display: block;
    }
    
    &-img{
        display:grid;
        padding: 1rem;
        flex: 0 0 50%;
        position: relative;
        place-items: center;
        &::before{
            content: '';
            position: absolute;
            width: 5rem;
            height: 5rem;
            border-bottom: 5px solid var(--pink-color) ;
            border-left: 5px solid var(--pink-color) ;
            bottom: 20%;
            left: 15%;
        }
        &::after{
            content: '';
            position: absolute;
            width: 5rem;
            height: 5rem;
            border-top: 5px solid var(--pink-color) ;
            border-right: 5px solid var(--pink-color) ;
            top: 20%;
            right: 15%;
        }
        @media screen and (max-width: 854px) {
            display: none;
        }
        
    }
    &-jpg{
        height: 40rem;
        width: 30rem;

    }
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5rem;
        @media screen and (max-width: 767.98px) {
            align-items: center;
            ma
        }
        
    }
    &-name{
        display: flex;
     
        align-items: center;
        margin-bottom: 2rem;
    }
    &-job{
        margin-bottom: 2rem;
    }
    &-describe{
        margin-bottom: 10rem;
    }
    &-btn{
        padding: 1rem 2rem;
        font-size: 2rem;
        font-family: var(--body-font);
        color: var(--white-color);
        background-color: var(--pink-color);
        width: 20rem;
        border-radius: 10px;
        transition: all .2s;
        &:hover{
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0,0,0,.2);
        }
    }
}