.home{
    display: flex;
    &-img{
        display:grid;
        place-items: center;
    }
    &-jpg{
        height: 40rem;
        width: 30rem;
        margin-left: 10rem;
    }
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-name{
        display: flex;
     
        align-items: center;
        margin-bottom: 2rem;
    }
    &-job{
        margin-bottom: 2rem;
    }
    &-describe{
        margin-bottom: 10rem;
    }
    &-btn{
        padding: 1rem 2rem;
        font-size: ;
    }
}