.navigation{
    &__checkbox{

    }
    &__button{
        background-color: transparent;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 3rem;
        left: 120%;
        border-radius: 50%;
        
    }
}