.service{
    &-title{
        margin-bottom: 5rem;
    }
    &-list{
        display: grid;
        gap: 5rem;
        grid-template-columns: auto auto auto;
    }
    &-item{
        height: 40rem;
        width: 40rem;
        background-color: var(--white-color);
    }
    
}