.sidebar{
    flex: 0 0 20%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &-title{
        display: block;
        padding: 1rem 2rem;
        position: relative;
        margin-top: -15rem;
        &::before{
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-bottom: 5px solid var(--pink-color) ;
            border-left: 5px solid var(--pink-color) ;
            bottom: 0;
            left: 0;
        }
        &::after{
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-top: 5px solid var(--pink-color) ;
            border-right: 5px solid var(--pink-color) ;
            top: 0;
            right: 0;
        }
    }
    &-list{
        list-style: none;
    }
    &-item{
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        position: relative;
    }
    &-item::before{
        position: absolute;
        
    }
    &-link{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        color: var(--black-color);
    }
    &-icon{
        font-size: 2rem;
        color: currentColor;
    }
}

