.sidebar{
    flex: 0 0 20%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-title{
        display: block;
        margin-top: 5rem;
        padding: 1rem;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-bottom: 5px solid var(--pink-color) ;
            border-left: 5px solid var(--pink-color) ;
        }
    }
}

