.heading-1{
    font-family: var(--side-font);
    font-size: 4rem;
    color: var(--black-color);
    letter-spacing: .5rem;
}
.heading-1-secondary{
    font-family: var(--body-font);
    font-size: 4rem;
    color: (--black-color);
    font-weight: 700;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        bottom: -20%;
        height: .5rem;
        width: 10%;
        background-color: var(--pink-color);
    }
    &::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: -40%;
        height: .5rem;
        width: 15%;
        background-color: var(--pink-color);
    }
}
.heading-2{
    font-family: var(--body-font);
    font-size: 3rem;
    color: var(--black-color);
    font-weight: 600;
}
.heading-2{
    font-family: var(--body-font);
    font-size: 3rem;
    color: var(--black-color);
    font-weight: 600;
}
.heading-2-secondary{
    font-family: var(--side-font);
    color: var(--pink-color);
    font-size: 3.5rem;
    margin-left: 1rem;
}
.heading-3{
    font-family: var(--body-font);
    font-size: 2rem;
}
.heading-4{
    font-family: var(--body-font);
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 500;
}
.heading-4-secondary{
    font-family: var(--body-font);
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 700;
}