.heading-1{
    font-family: var(--side-font);
    font-size: 4rem;
    color: var(--black-color);
    letter-spacing: .5rem;
}
.heading-2{
    font-family: var(--body-font);
    font-size: 3rem;
    color: var(--black-color);
    font-weight: 600;
}
.heading-2-secondary{
    font-family: var(--side-font);
    color: var(--pink-color);
    font-size: 3rem;
}
.heading-3{
    font-family: var(--body-font);
    font-size: 2rem;
}
.heading-4{
    font-family: var(--body-font);
    font
}