:root{
    --body-font: 'Exo 2', sans-serif;
    --side-font: 'Oleo Script', cursive;
    --black-color: rgb(0, 0 ,0);
    --light-black-color: #333;
    --white-color: #fff;
    --light-grey-color-1: #666;
    --light-grey-color-2: rgb(243, 242, 242);
    --orange-color: #ec7411;
    --pink-color: #eb2f64;
    --green-color: #168616;
    --violet-color: #
    --blue-color: #2f2ff1;
}
