:root{
    --body-font: font-family: 'Exo 2', sans-serif;
    --side-font: font-family: 'Oleo Script', cursive;
    --black-color: rgb(0, 0 ,0);
    --white-color: #fff;
    --light-grey-color: ;
    --orange-color: rgb(236, 116, 17);

}